.create-button {
    margin-bottom: 1%;
}

.rank-list-col {
    display: flex;
    justify-content: space-between;
}

.rank-list {
    flex: 1;
    max-width: 23%;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .rank-list {
        flex: 1;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .rank-list-col {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }

    .rank-list {
        /* border: 2px red dashed; */
        flex: 2;
        min-width: 50%;
    }

    .create-button {
        margin-bottom: 5%;
    }
}